[Desktop Entry]
Type=Application
Name=ScreenForge
Comment=Ordnet Smartphone-Screenshots zu einer einzigen Präsentationsgrafik an
Exec=screenforge %F
MimeType=image/png;image/jpeg;image/webp;image/avif;application/x-screenforge;
Icon=de.christophlangner.ScreenForge
Terminal=false
Categories=Graphics;Photography;GTK;GNOME;
StartupNotify=true
